:root {
  --chicken-body-yellow: rgb(255, 242, 121);
  --chicken-border: rgb(70, 70, 70);
  --chicken-mouse: rgb(255, 212, 107);
}
#runCapoo.cover.chicken {
  width: 7vw; /* 70px * 70px */
  height: 7vw;
  padding: 0;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  animation: extension-chicken-walk-distance 15s linear infinite;
}
#runCapoo.cover.chicken .body-outline {
  width: 100%;
  height: 100%;
  clip-path: ellipse(40% 35%);
  background-color: var(--chicken-border);
  position: absolute;
  z-index: 1;
}
#runCapoo.cover.chicken .body-inner {
  width: 92%;
  height: 92%;
  clip-path: ellipse(40% 35%);
  background-color: var(--chicken-body-yellow);
  position: absolute;
  left: 4%;
  top: 4%;
  z-index: 2;
}
#runCapoo.cover.chicken .body-inner .eyes .eye {
  width: 10.9%;
  height: 10.9%;
  background-color: var(--chicken-border);
  position: absolute;
  top: 41.3%;
  border-radius: 100%;
  z-index: 3;
}
#runCapoo.cover.chicken .body-inner .eyes .eye.eye-left {
  left: 17.4%;
}
#runCapoo.cover.chicken .body-inner .eyes .eye.eye-right {
  left: 54.3%;
}
#runCapoo.cover.chicken .body-inner .mouse {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 52.2%;
  left: 30.4%;
}
#runCapoo.cover.chicken .body-inner .mouse .mouse-outline {
  width: 21.7%;
  height: 21.7%;
  background-color: var(--chicken-border);
  clip-path: polygon(
    5% 55%,
    0 50%,
    5% 45%,
    45% 21%,
    50% 20%,
    55% 21%,
    95% 45%,
    100% 50%,
    95% 55%,
    55% 79%,
    50% 80%,
    45% 79%
  );
  position: absolute;
  z-index: 4;
}
#runCapoo.cover.chicken .body-inner .mouse .mouse-inner {
  width: 21.7%;
  height: 21.7%;
  background-color: var(--chicken-mouse);
  clip-path: polygon(
    5% 55%,
    0 50%,
    5% 45%,
    45% 21%,
    50% 20%,
    55% 21%,
    95% 45%,
    100% 50%,
    95% 55%,
    55% 79%,
    50% 80%,
    45% 79%
  );
  position: absolute;
  scale: 0.7;
  z-index: 5;
}
#runCapoo.cover.chicken .feet {
  width: 100%;
  height: 100%;
}
#runCapoo.cover.chicken .feet .foot {
  width: 2%;
  height: 14%;
  background-color: var(--chicken-border);
  position: absolute;
  top: 76%;
  z-index: 1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#runCapoo.cover.chicken .feet .foot-left {
  left: 36%;
  transform: rotate(15deg);
  animation-name: extension-chicken-walk-foot-left;
}
#runCapoo.cover.chicken .feet .foot-right {
  left: 66%;
  transform: rotate(-15deg);
  animation-name: extension-chicken-walk-foot-right;
}
@keyframes extension-chicken-walk-foot-left {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes extension-chicken-walk-foot-right {
  0% {
    transform: rotate(-10deg);
  }
  8% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes extension-chicken-walk-distance {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
